# -------------------------
# Core files
# -------------------------
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-content/themes/twenty*/
# -------------------------
# Configuration
# -------------------------
wp-config.php

# -------------------------
# Uploads & cache
# -------------------------
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/

# -------------------------
# Languages
# -------------------------
/wp-content/languages/

# -------------------------
# Dependencies
# -------------------------


# -------------------------
# Archives
# -------------------------
*.zip
*.tar
*.gz

# -------------------------
# Logs
# -------------------------
*.log
*.error

# -------------------------
# Server config
# -------------------------
.htaccess

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
